.hangman_letters {
  cursor: pointer;
  font-size: 140%;
  letter-spacing: 6px;
}
#hangman_failure_chances {
  float: left;
  margin-right: 10px;
}
#hangman_total_win {
  float: left;
  margin-right: 6px;
}
#hangman_namefield {
  font-size: 150%;
  font-weight: bold;
  letter-spacing: 4px;
  margin: 12px 5px;
  word-spacing: 10px;
}
#hangman_failure_chances {
  font-weight: bold;
}
#hangman_status_message {
  font-size: 120%;
}
